{% extends 'site/base.html' %}
{% block content %}
{% load static %}


<div>
	<br>
	<br>
	<br>
	<br>
	<div class="container text-center">
  		<div class="row justify-content-start">
  			<div class="col-4">
      			<h3>Filip Teller</h3>
			</div>
		</div>
	</div>

	<div class="row justify-content-center">
		<div class="col-4">
			<p>Je seriózně komediální herec s přesahem do civilnosti a hloubky se špetkou humoru, nadsázky a vnitřního tajemství až temna. Ačkoliv tomu málokdo věří, navzdory své milé tváři, dostává v českých audiovizuálních dílech role grázlů, úchyláků či stb agentů. Na divadle jej můžete shlédout v rolích charakterních, bezcharakterních nebo v roli stand up komika, který svá autorská představení využívá jako platformu pro sdělování aktuálních témat. Moderuje talk show s hosty (Klus, Kocáb, Špaček, Fila, Fridrichová...), firemní večírky a konference (Red Hat, Billa...), plesy i festivaly (Zlín Film Fest, Korespondance....) Napíše Vám stand up na míru pro danou akci a je zaručeně levnější než Štěpán Kozub. Jako moderátor dokáže být Leošem Marešem, Martinem Veselovských i Halinou Pawlovskou. Hovoří mateřskou češtinou, plynulou angličtinou a lámanou němčinou. Jako Zdravotní klaun dobře vychází s dětmi, oplývá trpělivostí i empatií.</p> 
	  	</div>
  	</div>

  	<div class="row justify-content-center">
  		<div class="col-4">
  			<h4>Chcete ho?</h4>
  		</div>
  	</div>

  	<div class="row justify-content-center">
  		<div class="col-4">
  			<h5>Oslovte FT jako moderátora, stand up komika či herce ještě dnes a nebo i zítra... <strong>produkce.filipteller@gmail.com</strong></h5>
  		</div>
  	</div>
	<br>
	<br>
	<div class="row justify-content-center">
  		<div class="col-1">
  			<button type="button" class="btn btn-outline-secondary">Stáhnout seriozní CV</button>
  		</div>
	</div>
</div>



{% endblock %}
