{% extends 'site/base.html' %}
{% block content %}
{% load static %}

<div class="container">
  <br/>
<div class="row row-cols-1 row-cols-md-1 d-flex">
  <div class="col mb-4">
    <div class="card shadow">
      <div class="card-body d-flex flex-column">
        <h5 class="card-title mt-auto">FILIP TELLER</h5>
        <p class="card-text ">Je seriózně komediální herec s přesahem do civilnosti a hloubky se špetkou humoru, nadsázky a vnitřního tajemství až temna. Ačkoliv tomu málokdo věří, navzdory své milé tváři, dostává v českých audiovizuálních dílech role grázlů, úchyláků či stb agentů. Na divadle jej můžete shlédout v rolích charakterních, bezcharakterních nebo v roli stand up komika, který svá autorská představení využívá jako platformu pro sdělování aktuálních témat. Moderuje talk show s hosty (Klus, Kocáb, Špaček, Fila, Fridrichová...), firemní večírky a konference (Red Hat, Billa...), plesy i festivaly (Zlín Film Fest, Korespondance....) Napíše Vám stand up na míru pro danou akci a je zaručeně levnější než Štěpán Kozub. Jako moderátor dokáže být Leošem Marešem, Martinem Veselovských i Halinou Pawlovskou. Hovoří mateřskou češtinou, plynulou angličtinou a lámanou němčinou. Jako Zdravotní klaun dobře vychází s dětmi, oplývá trpělivostí i empatií.</p>
        <h6 class="card-title mt-auto">Chcete ho?</h6>
        <h5 class="card-body mt-auto">Oslovte FT jako moderátora, stand up komika či herce ještě dnes a nebo i zítra... <br> <strong>produkce.filipteller@gmail.com</strong></h5>
        <br>
        <br>
        <div class="card-body mt-auto">
          <button type="button" class="btn btn-outline-secondary">Stáhnout seriozní CV</button>
        </div>
      </div>
    </div>
  </div>
  
</div>
</div>

 



{% endblock %}
