{% extends 'site/base.html' %}
{% block content %}

{% load static %}

<div class="container ">
<br/><br/><br/>
<div class="row">
    {% for product in production %}
  <div class="col mb-3 d-flex align-items">
<div class="card shadow" style="width: 22rem;">
  <img src="{{ product.fotoPath }}" class="card-img-top" alt="">
  <div class="card-body d-flex flex-column">
    <h3 class="card-title">{{ product.name|upper }}</h3>
    <p class="card-text">{{ product.description }}</p>
    <h6 class="card-title mt-auto">{{ product.authors|linebreaks }}</h6>
 </div>
    </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}

