{% extends 'site/base.html' %}
{% block content %}
{% load static %}


<div class="container-fluid">
	<div class="row">
	    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
	    	<br/>
	        <div class="hovereffect">
	            <img
	                    src="{% static 'images/fotogalery/Filip_Teller 1.jpg' %}"
	                    class="w-100 shadow-1-strong rounded mb-4"
	                    alt="Filip Teller in a park"
	            />

	        </div>

	        <div class="hovereffect">
	            <img
	                    src="{% static 'images/fotogalery/PHOTO-2022-10-04-16-13-02 8.jpg' %}"
	                    class="w-100 shadow-1-strong rounded mb-4"
	                    alt="Filip Teller"
	            />

	        </div>
	    </div>

	    <div class="col-lg-4 mb-4 mb-lg-0">
	    	<br/>
	        <div class="hovereffect">
	            <img
	                    src="{% static 'images/fotogalery/Filip_Teller 5.jpg' %}"
	                    class="w-100 shadow-1-strong rounded mb-4"
	                    alt="Filip Teller in a park"
	            />

	        </div>
	        <div class="hovereffect">
	            <img
	                    src="{% static 'images/fotogalery/Teller 11.jpg' %}"
	                    class="w-100 shadow-1-strong rounded mb-4"
	                    alt="Filip Teller"
	            />

	        </div>
	    </div>
	        <div class="col-lg-4 mb-4 mb-lg-0">
				<br/>
	            <div class="hovereffect">
	                <img
	                        src="{% static 'images/fotogalery/filip_teller-1200x800.jpg' %}"
	                        class="w-100 shadow-1-strong rounded mb-4"
	                        alt="Filip Teller"
	                />
	            </div>
	            <div class="hovereffect">
	                <img
	                        src="{% static 'images/fotogalery/PHOTO-2022-10-04-16-13-02 12.jpg' %}"
	                        class="w-100 shadow-1-strong rounded mb-4"
	                        alt="Filip Teller"
	                />
	            </div>
	        </div>
	    </div>
</div>

{% endblock %}
