{% extends 'site/base.html' %}
{% block content %}
{% load static %}
<center>
<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'images/F_T_1_BW.jpg' %}" class="d-block w-100" alt="Filip Teller photo">
    </div>
    <div class="carousel-item">
      <img src="{% static 'images/F_T_2_BW.jpg' %}" class="d-block w-100" alt="Filip Teller photo">
    </div>
    <div class="carousel-item">
      <img src="{% static 'images/F_T_3_BW.jpg' %}" class="d-block w-100" alt="Filip Teller photo">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</center>

{% endblock %}
