{% extends 'site/base.html' %}
{% block content %}
{% load static %}





<div class="container">
  <br/>
<div class="row row-cols-1 row-cols-md-2 d-flex">
  <div class="col mb-4">
    <div class="card shadow">
    	<img src="{% static 'images/repertoar/moderator.jpg' %}" class="card-img-top" alt="...">
      <div class="card-body d-flex flex-column">
        <h5 class="card-title">FILIP TELLER</h5>
        <p class="card-text">Filip Teller v rámci své moderace klade důraz na profesionalitu a připravenost,
        která zaručí  hladký průběh akce a dává tak prostor pro improvizaci, autenticitua přirozenost. Využivá s chutí svůj chytrý a pohotový humor, uctivou drzost i schopnost zveřejňovat a zahladit to, co se případně nepovedlo. Během Vaší akce se stává tedy nejen moderátorem, ale celkovým spolutvůrcem atmosféry a parťákem pro každou „změnu a špatnost“. Moderuje společenské i firemní akce, diskuze, debaty, festivaly i talk show.</p>
        <h5 class="card-title mt-auto">Kontaktovat moderátora: <br> <strong>produkce.filipteller@gmail.com</strong></h5>
        
      </div>
    </div>
  </div>
  <div class="col mb-4 d-flex">
    <div class="card shadow">
    	<img src="{% static 'images/repertoar/Na_rovinu.jpg' %}" class="card-img-top" alt="...">
      <div class="card-body d-flex flex-column">
        <h5 class="card-title">NA_ROVINU</h5>
        <p class="card-text"> Nejen komorní talk show, ale též prostor pro diskuzi a debatu mezi hosty a přítomnými diváky - to je formát pořadu Na_rovinu, ve kterém Filip Teller zpovídá hosty z nejrůzněších oblastí. Do GaPu ve Znojmě tak zavítali například Jitka Schneiderová, Kamil Fila, Kateřina Šedá nebo Iveta Fabešová.</p>
        <h5 class="card-title mt-auto">Kontaktovat moderátora: <br> <strong>produkce.filipteller@gmail.com</strong></h5>
      </div>
    </div>
  </div>
 
	<div class="container">
	<div class="row justify-content-center">
  		<div class="col-1">
  			Reference: Gourmet Brno, ZFF, Billa, GaP (dodám)
  		</div>
	</div>
	</div>
  <br>
  <br>
  <br>
</div>
</div>




{% endblock %}
