{% extends 'site/base.html' %}
{% block content %}
{% load static %}


<div>
	<br>
	<br>
	<br>
	<br>
	<div class="container text-center">
  		<div class="row justify-content-start">
  			<div class="col-4">
      			<h3>Moderování</h3>
			</div>
		</div>
	</div>

	<div class="row justify-content-center">
		<div class="col-4">
			<p>Filip Teller v rámci své moderace klade důraz na profesionalitu a připravenost,
        která zaručí  hladký průběh akce a dává tak prostor pro improvizaci, autenticitua přirozenost. Využivá s chutí svůj chytrý a pohotový humor, uctivou drzost i schopnost zveřejňovat a zahladit to, co se případně nepovedlo. Během Vaší akce se stává tedy nejen moderátorem, ale celkovým spolutvůrcem atmosféry a parťákem pro každou „změnu a špatnost“. Moderuje společenské i firemní akce, diskuze, debaty, festivaly i talk show.</p> 
	  	</div>
  	</div>

 

  	<div class="row justify-content-center">
  		<div class="col-4">
  			<h5>Kontaktovat moderátora:<strong>produkce.filipteller@gmail.com</strong></h5>
  		</div>
  	</div>
	<br>
	<br>
	<div class="row justify-content-center">
  		<div class="col-1">
  			Reference: Gourmet Brno, ZFF, Billa, GaP (dodám)
  		</div>
	</div>
  <br>
  <br>
  <br>
</div>



{% endblock %}
