{% extends 'site/base.html' %}
{% block content %}
{% if user.is_authenticated %}

<center>
	<div class="container">
		<br/><br/><br/>
		<div class="container shadow"> 
			<h1>Přidat do program</h1>
			<br/>
			<form action="" method=POST>
				{% csrf_token %}
				{{ form.as_p }}
				<br/>
				<button type="submit" class="btn btn-secondary">Přidat</button><br/>
			</form>
			<br/><br/>
		</div>
		<br/><br/>
	</div>
</center>
{% else %}
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
  Omlouvam se, ale pro úpravu programu nemáte povolení.
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

{% endif %}
{% endblock %}


